mixin cert(cert)

    table 
        colgroup(span="4", class="columns")
        tr 
            th 
                a(href=`${cert._id}`) #{cert.title}
            th #{cert.createdAt}
            th #{cert.title}
            th #{cert.title}


    